.logo {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.logo__icon {
  margin-right: 10px;

  width: 30px;
  height: 30px;

  @include bpoint(desktop) {
    margin-right: 14px;

    width: 40px;
    height: 40px;
  }
}

.logo__text {
  font-family: getFont(secondary);
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: getColor(logo);

  @include bpoint(desktop) {
    font-size: 36px;
  }
}
