.menu {
  position: relative;
  z-index: 2;

  width: 30px;
  height: 24px;

  transition: transform getProp(duration) getProp(fn);

  background-color: transparent;
  border: none;
  overflow: hidden;

  cursor: pointer;

  &::before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: getColor(accent);
    border-radius: 4px;

    transition: transform getProp(duration) getProp(delay) getProp(fn);
  }

  &::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: getColor(accent);
    border-radius: 4px;

    transition: transform getProp(duration) getProp(delay) getProp(fn);
  }

  &.is-open {
    transform: rotate(-90deg);

    &::before {
      transform: translateY(250%) rotate(45deg);
    }

    &::after {
      transform: translateY(-250%) rotate(-45deg);
    }

    & > .menu__item {
      transform: translateX(120%);
    }
  }

  @include bpoint(desktop) {
    display: none;
  }
}

.menu__item {
  position: absolute;

  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 100%;
  height: 4px;

  background-color: getColor(accent);
  border-radius: 4px;

  transition: transform getProp(duration) getProp(delay) getProp(fn);
}
