<section class="benefits section">
  <div class="benefits__container container">
    <div class="benefits__wrapper benefits__wrapper--img">IMG</div>

    <div class="benefits__wrapper benefits__wrapper--content">
      <h2 class="benefits__subtitle subtitle">Analytics & Reporting Brackdown</h2>
      <p class="benefits__description description">
        An enim nullam tempor sapien gravida donec enim ipsum porta justo congue magna at pretium
        purus pretium ligula
      </p>

      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__icon">
            <svg>
              <use href="./images/icon-sprite.svg#icon-timer"></use>
            </svg>
          </div>

          <div class="benefits__content">
            <p class="benefits__name">Automatic event tracking</p>
            <p class="benefits__text">
              Time Tracking is never been easier. Just let the stopwatch run
            </p>
          </div>
        </li>

        <li class="benefits__item">
          <div class="benefits__icon">
            <svg>
              <use href="./images/icon-sprite.svg#icon-dashboard"></use>
            </svg>
          </div>

          <div class="benefits__content">
            <p class="benefits__name">Customizable dashboard</p>
            <p class="benefits__text">
              Time Tracking is never been easier. Just let the stopwatch run
            </p>
          </div>
        </li>

        <li class="benefits__item">
          <div class="benefits__icon">
            <svg>
              <use href="./images/icon-sprite.svg#icon-list"></use>
            </svg>
          </div>

          <div class="benefits__content">
            <p class="benefits__name">Statistics retroactively</p>
            <p class="benefits__text">
              Time Tracking is never been easier. Just let the stopwatch run
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
