<section class="clients section">
  <div class="clients__container container">
    <div class="clients__wrapper clients__wrapper--content">
      <h2 class="clients__subtitle subtitle">See Our trusted partners</h2>

      <p class="clients__description description">
        Vero homero perfecto mei ut, sonet aperiam an nec. Ni nec dict altera legimu. Me vita de
        lege ndos expet end is ad. Ex mei omita aliu mi ando
      </p>

      <button class="btn btn--light" type="button">Get Started</button>
    </div>

    <div class="clients__wrapper clients__wrapper--img">
      <ul class="clients__list">
        <li class="clients__item">
          <svg class="clients__icon">
            <use href="./images/icon-sprite.svg#icon-client-1"></use>
          </svg>
        </li>

        <li class="clients__item">
          <svg class="clients__icon">
            <use href="./images/icon-sprite.svg#icon-client-2"></use>
          </svg>
        </li>

        <li class="clients__item">
          <svg class="clients__icon">
            <use href="./images/icon-sprite.svg#icon-client-3"></use>
          </svg>
        </li>

        <li class="clients__item">
          <svg class="clients__icon">
            <use href="./images/icon-sprite.svg#icon-client-4"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
