<section class="features section">
  <div class="features__container container">
    <h2 class="features__subtitle subtitle">Some excellent features for you</h2>
    <p class="features__description description">
      An enim nullam tempor sapien gravida donec enim ipsum porta justo congue magna at pretium
      purus pretium ligula
    </p>

    <ul class="features__list">
      <li class="features__item">
        <div class="features__icon">
          <svg>
            <use href="./images/icon-sprite.svg#icon-calendar"></use>
          </svg>
        </div>

        <div class="features__content">
          <p class="features__name">Preset List of Task</p>
          <p class="features__text">Make bill payments easily using the wallet app</p>
        </div>
      </li>

      <li class="features__item">
        <div class="features__icon">
          <svg>
            <use href="./images/icon-sprite.svg#icon-bell"></use>
          </svg>
        </div>

        <div class="features__content">
          <p class="features__name">Reminder of Task</p>
          <p class="features__text">Make bill payments easily using the wallet app</p>
        </div>
      </li>

      <li class="features__item">
        <div class="features__icon">
          <svg>
            <use href="./images/icon-sprite.svg#icon-notepad"></use>
          </svg>
        </div>

        <div class="features__content">
          <p class="features__name">Complecation Report</p>
          <p class="features__text">Make bill payments easily using the wallet app</p>
        </div>
      </li>
    </ul>
  </div>
</section>
