<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper footer__wrapper--content">
      <a class="logo" href="#">
        <svg class="logo__icon">
          <use href="./images/icon-sprite.svg#icon-logo"></use>
        </svg>

        <span class="logo__text">SaaStoo</span>
      </a>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#">ICON</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">ICON</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">ICON</a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">ICON</a>
        </li>
      </ul>
    </div>

    <div class="footer__wrapper footer__wrapper--copy">
      <a class="footer__terms" href="#">Terms & condition</a>
      <a class="footer__policy" href="#">Privacy policy</a>
      <a class="footer__copy" href="#">All Right Reserved @ plowv.com</a>
    </div>
  </div>
</footer>
