<header class="header">
  <div class="header__container container">
    <a class="logo" href="#">
      <svg class="logo__icon">
        <use href="./images/icon-sprite.svg#icon-logo"></use>
      </svg>

      <span class="logo__text">SaaStoo</span>
    </a>

    <button class="menu" type="button" aria-label="menu" aria-expanded="false" data-menu-btn>
      <div class="menu__item"></div>
    </button>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Main</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Features</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Pricing</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
      </ul>

      <ul class="auth">
        <li class="auth__item">
          <a class="auth__btn auth__btn--transparent btn" href="#">Login</a>
        </li>

        <li class="auth__item">
          <a class="auth__btn btn" href="#">Sign in</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
