<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title title">
      A collaborative <br />
      Time Tracking that you Need
    </h1>

    <p class="hero__description description">
      An enim nullam tempor sapien gravida donec enim ipsum porta justo congue magna at pretium
      purus pretium ligula
    </p>

    <button class="btn" type="button">Start 14 Days Trial</button>

    <img class="hero__img" src="./images/hero/clock.png" width="65" height="76" alt="clock" />
  </div>
</section>
