<section class="join section">
  <div class="container">
    <div class="join__wrapper join__wrapper--content">
      <h2 class="join__subtitle subtitle">Get it now for free</h2>
      <p class="join__description description">
        We are offering free debit cards once you sing up and order a card. we wont chargeyou for
        our debit card.
      </p>

      <ul class="join__list">
        <li class="join__item">
          <a class="join__link btn" href="#">APP STORE</a>
        </li>

        <li class="join__item">
          <a class="join__link btn btn--light" href="#">GOOGLE PLAY</a>
        </li>
      </ul>
    </div>

    <div class="join__wrapper join__wrapper--img"></div>
  </div>
</section>
