<section class="products section">
  <div class="products__container container">
    <h2 class="products__subtitle subtitle">Flexible work, Simple Price</h2>
    <p class="products__description description">Growth your business with using us</p>

    <div class="switch">
      <span class="switch__case">Monthly</span>

      <div class="switch__wrapper">
        <input class="switch__checkbox" type="checkbox" name="switch" id="switch" />
        <label class="switch__label" for="switch"></label>
      </div>

      <span class="switch__case">Yearly</span>
    </div>

    <ul class="products__list">
      <li class="products__item">
        <p class="products__name">Free</p>

        <ul class="products__services">
          <li class="products__elem">1 seat</li>
          <li class="products__elem">2 project</li>
        </ul>

        <p class="products__price">
          <span class="products__cost">$0</span>
          <span class="products__term">/Forever</span>
        </p>

        <button class="products__btn btn" type="button">Start 14 Days Trial</button>
      </li>

      <li class="products__item">
        <p class="products__name">Premium</p>

        <ul class="products__services">
          <li class="products__elem">Unlimited Seat</li>
          <li class="products__elem">Unlimited project</li>
        </ul>

        <p class="products__price">
          <span class="products__cost">$30</span>
          <span class="products__term">/Forever</span>
        </p>

        <button class="products__btn btn" type="button">Start 14 Days Trial</button>
      </li>
    </ul>
  </div>
</section>
