<section class="reviews section">
  <div class="container">
    <h2 class="reviews__subtitle subtitle">What our client says</h2>
    <p class="reviews__description description">Growth your business with using us</p>

    <div class="slider swiper mySwiper">
      <div class="slider__wrapper swiper-wrapper">
        <div class="slider__item swiper-slide">
          <img class="slider__img" src="./images/reviews/reviews-1.jpg" alt="" />

          <div class="slider__content">
            <p class="slider__quote">
              I`ve been waiting for you, Obi-Wan. We meet again, at last. The circle is now
              complete. When I left you, I was but the learner; now I am the master.
            </p>
            <p class="slider__name">Darth Vader</p>
            <p class="slider__position">Back-End Developer</p>
          </div>
        </div>

        <div class="slider__item swiper-slide">
          <img class="slider__img" src="./images/reviews/reviews-2.jpg" alt="" />

          <div class="slider__content">
            <p class="slider__quote">
              You were the chosen one! It was said that you would destroy the Sith, not join them.
              You were to bring balance to the Force, not leave it in darkness.
            </p>
            <p class="slider__name">Obi-Wan Kenobi</p>
            <p class="slider__position">Front-End Developer</p>
          </div>
        </div>

        <div class="slider__item swiper-slide">
          <img class="slider__img" src="./images/reviews/reviews-3.jpg" alt="" />

          <div class="slider__content">
            <p class="slider__quote">
              Traveling through hyperspace ain`t like dusting crops, farm boy.
            </p>
            <p class="slider__name">Han Solo</p>
            <p class="slider__position">Designer</p>
          </div>
        </div>

        <div class="slider__item swiper-slide">
          <img class="slider__img" src="./images/reviews/reviews-4.jpg" alt="" />

          <div class="slider__content">
            <p class="slider__quote">
              In a dark place we find ourselves, and a little more knowledge lights our way.
            </p>
            <p class="slider__name">Yoda</p>
            <p class="slider__position">Full Stack Developer</p>
          </div>
        </div>

        <div class="slider__item swiper-slide">
          <img class="slider__img" src="./images/reviews/reviews-5.jpg" alt="" />

          <div class="slider__content">
            <p class="slider__quote">
              The Force is not a power you have. It`s not about lifting rocks. It`s the energy
              between all things, a tension, a balance, that binds the universe together.
            </p>
            <p class="slider__name">Luke Skywalker</p>
            <p class="slider__position">Freelancer</p>
          </div>
        </div>
      </div>

      <div class="slider__pagination swiper-pagination"></div>
    </div>

    <img
      class="reviews__img reviews__img--like"
      src="./images/reviews/like.png"
      width="62"
      height="63"
      alt=""
    />

    <img
      class="reviews__img reviews__img--chat"
      src="./images/reviews/chat.png"
      width="79"
      height="81"
      alt=""
    />
  </div>
</section>
