<section class="stat section">
  <div class="stat__container container">
    <h2 class="subtitle hidden">Statistics</h2>

    <ul class="stat__list">
      <li class="stat__item">
        <p class="stat__value">15k+</p>
        <p class="stat__text">Active user</p>
      </li>

      <li class="stat__item">
        <p class="stat__value">30k</p>
        <p class="stat__text">Total Download</p>
      </li>

      <li class="stat__item">
        <p class="stat__value">10k</p>
        <p class="stat__text">Customer</p>
      </li>
    </ul>
  </div>
</section>
