.about {
  position: relative;

  background-color: getColor(bg-secondary);
}

.about__container {
  display: flex;
}

.about__wrapper {
  @include bpoint(desktop) {
    flex-basis: 50%;
  }
}

.about__wrapper--content {
  margin-bottom: 48px;
}

.about__subtitle {
  margin-bottom: 36px;

  @include bpoint(desktop) {
    margin-bottom: 20px;
  }
}

.about__description {
  display: none;

  @include bpoint(desktop) {
    display: block;

    margin-bottom: 64px;

    font-size: 18px;
    line-height: 2;
    text-align: start;
  }
}

.about__list {
  @extend %list;
}

.about__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 24px;

    @include bpoint(desktop) {
      margin-bottom: 64px;
    }
  }

  &:nth-child(1) > .about__icon {
    background-color: getColor(about-1st);
  }

  &:nth-child(2) > .about__icon {
    background-color: getColor(about-2st);
  }

  &:nth-child(3) > .about__icon {
    background-color: getColor(about-3st);
  }
}

.about__icon {
  margin-right: 18px;

  min-width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  @include bpoint(desktop) {
    margin-right: 48px;

    width: 116px;
    height: 116px;
  }

  & > svg {
    width: 33px;
    height: 33px;

    @include bpoint(desktop) {
      width: 68px;
      height: 68px;
    }
  }
}

.about__name {
  margin-bottom: 10px;

  font-family: getFont(secondary);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

  @include bpoint(desktop) {
    font-size: 28px;
    line-height: 1.86;
  }
}

.about__text {
  font-size: 14px;
  line-height: 1.8;

  opacity: 0.8;

  @include bpoint(desktop) {
    font-size: 18px;
    line-height: 2;
  }
}

.about__img {
  position: absolute;
  top: -30px;
  right: 0;

  width: 103px;
  height: 104px;
}

.about__wrapper--img {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 45px;
}

.about__graph {
  margin: 0 auto;

  border-radius: 20px;
  box-shadow: 0px 32px 54px rgba(65, 74, 85, 0.05);
}
