.benefits__subtitle {
  margin-bottom: 16px;
}

.benefits__description {
  margin-bottom: 36px;

  line-height: 1.8;
}

.benefits__list {
  @extend %list;
}

.benefits__item {
  display: flex;
  align-items: flex-start;

  font-size: 15px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:nth-child(1) > .benefits__icon {
    background-color: getColor(benefits-1st);
  }

  &:nth-child(2) > .benefits__icon {
    background-color: getColor(benefits-2st);
  }

  &:nth-child(3) > .benefits__icon {
    background-color: getColor(benefits-3st);
  }
}

.benefits__icon {
  margin-right: 18px;

  min-width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

.benefits__name {
  margin-bottom: 10px;

  font-family: getFont(secondary);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.8;

  opacity: 0.8;
}
