.clients__container {
  @include bpoint(desktop) {
    display: flex;
  }
}

.clients__wrapper {
  @include bpoint(desktop) {
    flex-basis: 50%;
  }
}

.clients__wrapper--content {
  margin-bottom: 40px;

  @include bpoint(desktop) {
    order: 1;
  }
}

.clients__subtitle {
  margin-bottom: 18px;

  @include bpoint(desktop) {
    margin-bottom: 24px;
  }
}

.clients__description {
  margin-bottom: 28px;

  @include bpoint(desktop) {
    margin-bottom: 48px;

    text-align: start;
  }
}

.clients__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @include bpoint(desktop) {
    justify-content: flex-start;
    gap: 36px;
  }
}

.clients__item {
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  @include bpoint(desktop) {
    width: 240px;
    height: 152px;

    border-radius: 48px;
  }

  &:nth-child(1) {
    background-color: getColor(clients-1st);
  }

  &:nth-child(2) {
    background-color: getColor(clients-2st);
  }

  &:nth-child(3) {
    background-color: getColor(clients-3st);
  }

  &:nth-child(4) {
    background-color: getColor(clients-4st);
  }
}

.clients__icon {
  width: 64px;
  height: 64px;
}
