.footer {
  padding: 40px 0;
}

.footer__wrapper--content {
  margin-bottom: 46px;
}

.logo--footer {
  margin-bottom: 46px;
}

.social {
  @extend %list;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
}

.social__item {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social__link {
  @extend %link;

  width: 100%;
  height: 100%;

  color: getColor(secondary);

  transition: color getProp(duration) getProp(fn);

  &:hover {
    color: getColor(accent);
  }
}

.social__icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

.footer__wrapper--copy {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__terms,
.footer__policy,
.footer__copy {
  @extend %link;

  font-size: 16px;
  line-height: 1.5;
  color: getColor(primary);

  opacity: 0.5;
}
