.header {
  padding: 28px 0;

  background-color: getColor(bg-action);

  overflow: hidden;
}

.header__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  padding: 40px 60px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: getColor(bg-primary);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-200%);

  transition: all 300ms ease-in-out;
}

.menu.is-open + .nav {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0px);
}

.nav__list {
  @extend %list;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.nav__link {
  @extend %link;

  font-family: getFont(secondary);
  font-size: 24px;
  line-height: 1.33;
  color: getColor(secondary);

  &--current {
    color: getColor(accent);
  }
}

.auth {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.auth__btn {
  padding: 16px 32px;

  display: inline-block;

  &--transparent {
    color: getColor(accent);
    background-color: transparent;
  }
}
