.hero {
  position: relative;

  padding-top: 47px;
  padding-bottom: 85px;

  background-color: getColor(bg-action);
}

.hero__title {
  margin-bottom: 12px;
}

.hero__description {
  margin-bottom: 40px;
}

.hero__img {
  position: absolute;
  top: 18px;
  right: 60px;

  width: 65px;
  height: 76px;
}
