.hero {
  position: relative;

  padding-top: 47px;
  padding-bottom: 85px;

  background-color: getColor(bg-action);

  @include bpoint(desktop) {
    padding: 180px 0;
  }
}

.hero__title {
  margin-bottom: 12px;

  @include bpoint(desktop) {
    margin-bottom: 24px;
  }
}

.hero__description {
  margin-bottom: 40px;

  @include bpoint(desktop) {
    margin-bottom: 68px;

    font-size: 20px;
    line-height: 1.8;
  }
}

.hero__btn {
  @include bpoint(desktop) {
    margin: 0 auto;
    display: block;
  }
}

.hero__img {
  position: absolute;
  top: 18px;
  right: 60px;

  width: 65px;
  height: 76px;
}
