.join {
  position: relative;

  background-color: getColor(bg-action);

  overflow: hidden;
}

.join__subtitle {
  margin-bottom: 16px;
}

.join__description {
  margin-bottom: 30px;
}

.join__list {
  @extend %list;
}

.join__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.join__link {
  @extend %link;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn--light {
    background-color: transparent;
  }
}

.join__icon {
  width: 115px;
  height: 27px;

  fill: currentColor;
}

.join__wrapper--img {
  display: none;
}

.join__img {
  position: absolute;
  bottom: 145px;
  right: -57px;

  width: 176px;
  height: 60px;
}
