.products__subtitle {
  margin-bottom: 10px;

  @include bpoint(desktop) {
    margin-bottom: 20px;

    text-align: center;
  }
}

.products__description {
  margin-bottom: 16px;

  @include bpoint(desktop) {
    margin-bottom: 48px;
  }
}

.switch {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include bpoint(desktop) {
    margin-bottom: 64px;
  }
}

.switch__wrapper {
  margin: 0 20px;

  display: flex;
  align-items: center;
}

.switch__case {
  display: block;

  font-family: getFont(secondary);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;

  @include bpoint(desktop) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.switch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;

  &:checked + .switch__label {
    background-color: rgba(255, 85, 62, 0.2);
  }

  &:checked + .switch__label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}

.switch__label {
  position: relative;

  display: block;
  width: 55px;
  height: 26px;

  background-color: rgba(255, 85, 62, 0.2);
  border-radius: 20px;

  cursor: pointer;
  @include bpoint(desktop) {
    width: 84px;
    height: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;

    width: 18px;
    height: 18px;

    background-color: getColor(accent);
    border-radius: 50%;

    transition: all getProp(duration) getProp(fn);

    @include bpoint(desktop) {
      top: 6px;
      left: 6px;

      width: 28px;
      height: 28px;
    }
  }
}

.products__list {
  @extend %list;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @include bpoint(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.products__item {
  padding: 36px 26px;

  text-align: center;

  border: 1px solid getColor(accent);
  border-radius: 30px;

  @include bpoint(desktop) {
    padding: 64px 115px 48px;

    border-radius: 110px;
  }

  &:nth-of-type(2) {
    background-color: getColor(accent);

    & * {
      color: getColor(active-white);
    }

    & .products__btn {
      color: getColor(accent);
      background-color: getColor(active-white);
    }
  }
}

.products__name {
  margin-bottom: 29px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1;

  @include bpoint(desktop) {
    margin-bottom: 56px;

    font-size: 48px;
  }
}

.products__services {
  @extend %list;

  margin-bottom: 30px;

  @include bpoint(desktop) {
    margin-bottom: 64px;
  }
}

.products__elem {
  font-size: 18px;
  line-height: 1.11;
  color: getColor(accent);

  opacity: 0.8;

  @include bpoint(desktop) {
    font-size: 28px;
    line-height: 1.86;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.products__price {
  margin-bottom: 30px;

  @include bpoint(desktop) {
    margin-bottom: 64px;
  }
}

.products__cost {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;

  @include bpoint(desktop) {
    font-size: 64px;
  }
}

.products__term {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;

  opacity: 0.4;
}
