.reviews {
  position: relative;

  overflow: hidden;
}

.reviews__subtitle {
  margin-bottom: 30px;
}

.reviews__description {
  display: none;
}

.slider {
  padding-bottom: 30px;

  width: 100%;
  height: 100%;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__img {
  margin-bottom: 30px;

  width: 170px;
  height: 144px;

  background-color: getColor(bg-action);
  border-radius: 40px;
  object-fit: cover;
}

.slider__quote {
  margin-bottom: 28px;

  font-size: 16px;
  line-height: 1.8;

  opacity: 0.8;
}

.slider__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.slider__position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  opacity: 0.7;
}

.swiper-pagination-bullet {
  background-color: getColor(accent);
  border-radius: 7px;
}

.swiper-pagination-bullet-active {
  width: 26px;
}

.reviews__img {
  position: absolute;

  &--like {
    top: 87px;
    right: 124px;

    width: 62px;
    height: 63px;
  }

  &--chat {
    top: 136px;
    right: -15px;

    width: 79px;
    height: 81px;
  }
}
